body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, img, div, input, span,
a, dl, dt, dd, em, th, tr, td,section{
margin: 0;
padding: 0;
font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
h2, h3, h4, h5, p, a {
font-weight: normal;
}

img {
border: none;
}

ul, ol, li {
list-style: none;
}

input, select, textarea {
outline: none;
} /*火狐有边框*/
textarea {
resize: none;
}

a {
text-decoration: none;
color: #666;
}

em, i {
font-style: normal;
}


/*HeaderNav*/
.HeaderNav{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
}
.isActive{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom:0;
	z-index: 100;
}
.TalionNav{
	height: 47px;

	display: box;			  /* OLD - Android 4.4- */
	display: -webkit-box;	  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		 /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	  /* TWEENER - IE 10 */
	display: -webkit-flex;	 /* NEW - Chrome */
	display: flex;

	-webkit-align-items: center;
	-moz-justify-align-items: center;
	-ms-justify-align-items: center;
	-o-justify-align-items: center;
	align-items: center;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;

    border-bottom: 1px solid #f3f3f3;
    padding: 0 0.5rem;
    background: #fff;
    box-sizing: border-box;
}
.TalionNav h1{
    margin: 0;
    padding: 0;
    color: #00b600;
    font-size: 0;
    background: url(../img/logo.png) no-repeat center center;
    height: 22px;
    width: 46px;
    background-size: cover;
}
.TalionNav nav ul{
	display: inline-block;
}
.TalionNav nav li{
	font-size: 0.5rem;
	margin-right: 0.1rem;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -5px;
}
.TalionNav nav span{
	font-size: 0;
	display: inline-block;
	background: url(../img/seach.png) no-repeat;
    background-size: cover;
    width: 30px;
    height: 22px;
}
.TalioSeach{
	position: absolute;
	left: 0;
	right: 0;
	top: 47px;
	z-index: 100;
	background: #fff;
	display: none;
}
.TalioSeach form{
	padding: 21px 18px;
}
.TalioSeach input[type=search] {
    box-sizing: border-box;
    -webkit-appearance: none;
    border: 0;
    background: url() no-repeat 50% #f3f3f3;
    background-size: 17.33333px;
    border-radius: 3px;
    width: 100%;
    height: 31px;
    font-size: 14px;
}
.TalioSeach ul{
	width: 100%;
	font-size: 0.5rem;
}
.TalioSeach ul li{
	width: 33%;
	float: left;
	height: 60px;
	display: box;			  /* OLD - Android 4.4- */
	display: -webkit-box;	  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		 /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	  /* TWEENER - IE 10 */
	display: -webkit-flex;	 /* NEW - Chrome */
	display: flex;

	-webkit-align-items: center;
	-moz-justify-align-items: center;
	-ms-justify-align-items: center;
	-o-justify-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	margin-bottom: 10px;
}
.TalioSeach ul strong,.TalioSeach ul span{
	display: block;
}
.TalioSeach ul span{
	font-size: 0.35rem;
	color:#999;
}
.TalioLayer{
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 47px;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}