.search{
	margin-top: 47px;
	border-bottom:1px solid #f5f5f5;
	height: 55px;
	display: box;			  /* OLD - Android 4.4- */
	display: -webkit-box;	  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		 /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	  /* TWEENER - IE 10 */
	display: -webkit-flex;	 /* NEW - Chrome */
	display: flex;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;
	padding:0 0.5rem;
}
.search form{
	width: 100%;
	height: 100%;
}
.search input{
	height: 30px;
	box-sizing: border-box;
	background: #f5f5f5;
	border-radius: 3px;
	padding: 5px 8px;
	border:0;
	width:85%;
	font-size: 14px;
	color:#111;
}
.search a{
	font-size: 0.4rem;
	margin-left: 6px;
}
.search_tags{
	height: 40px;
	line-height: 40px;
	border-bottom:1px solid #f5f5f5;
	font-size: 0.4rem;
	padding:0 0.5rem;	
}
.search_tags ul,.search_tags span{
	float: left;
}
.search_tags ul li{
	float: left;
	margin-right: 6px;
}
.search_tags ul a{
	color:#0079FF;
}
/*search_result*/
.search_result{
	padding: 0 0.5rem;
}
.search_module{
	border-bottom: 1px solid #f2f2f2;
	margin-top: 10px;
}
.search_module .search-results-name{
	line-height: 35px;
	font-size: 0.5rem;
	color:#aaa;
}
.search_module .search_results_item{
	border-bottom: 1px solid #f2f2f2;
	overflow: hidden;
	padding: 10px 0;
}
.search_module .search_results_item img{
	float: left;
	width: 40px;
	height: 60px;
}
.search_module .search_results_item a{
	display: block;
	width:100%;
	height: 100%;
	overflow: hidden;
}
.search_module .more{
	font-size: 0.4rem;
	color:#0079FF;
	display: block;
	height: 40px;
	line-height: 40px;
	text-indent: 10%;
}
.subject-info{
	float: left;
	margin-left: 10px;
}
.subject-title{
	display: block;
	font-size: 0.5rem;
	color:#494949;
}

.rating{
	color:#aaa;
	font-size: 0.3rem;
	width: 100%;
	margin-top: 6px;
}
.rating .rating_stars{
	display: inline-block;
	margin-right: 5px;
}
.rating .rating-star{
	width: 12px;
	height: 12px;
	display: inline-block;
	background-image: url(../img/gray-start.png);
	background-size: cover;
}
.rating span{
	font-size: 0.35rem;
}
.rating .yellow-star{
	background-image: url(../img/star.png);
	background-size: cover;
}
