
/*card*/
.card{
	margin: 60px 0 0 0;
}
section{
	overflow: hidden;
	background: #fff;
}
section header{
	padding: 0 0.5rem;
	height: 1.4rem;
	display: box;			  /* OLD - Android 4.4- */
	display: -webkit-box;	  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;		 /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;	  /* TWEENER - IE 10 */
	display: -webkit-flex;	 /* NEW - Chrome */
	display: flex;

	-webkit-align-items: center;
	-moz-justify-align-items: center;
	-ms-justify-align-items: center;
	-o-justify-align-items: center;
	align-items: center;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}
section h2{
	display: inline-block;
	min-width: 4rem;
	font-size: 0.5rem;
}
section header a{
	font-size: 0.4rem;
	color:#0079FF;
}
.section_content{
	margin-bottom: 0.3rem;
}
.items{
	overflow-x: auto;
	white-space: nowrap;
	margin-right: 1.4rem;
}
.item{
	display: inline-block;
	text-align: center;
	font-size: 0.4rem;
	width: 28.5%;
	margin-left: 0.3rem;
}
.item:first-child{
	margin-left: 0.5rem;
}
.item img{
	width: 100%;
	height: 130px;
	overflow: hidden;
}
.item p{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	margin-top: 5px;
	color:#333;
}
.item .item_rating{
	color:#aaa;
	font-size: 0.3rem;
	margin-top: 0.2rem;
	display: inline-block;
	width: 100%;
}
.item .item_rating .rating_stars{
	display: inline-block;
	margin-right: 5px;
}
.item .item_rating .rating-star{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 1px;
	background-image: url(../img/gray-start.png);
	background-size: cover;
}
.item .item_rating .yellow-star{
	background-image: url(../img/star.png);
	background-size: cover;
}