
.title{
	font-size: 0.7rem;
	height: 70px;
	line-height: 70px;
	font-weight: normal;
	text-indent: 0.5rem;
	margin-top: 47px;
}
.list{
	height: 100%;
	overflow: hidden;
	padding: 0 0.2rem;
}
.list .item{
	float: left;
    box-sizing: border-box;
    width: 33.33333%;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0 0.3rem;
}
.list .item img{
	width: 100%;
	height: 145px;
}
.list .item p{
	width: 100%;
	font-size: 0.45rem;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-overflow:ellipsis;
	margin-bottom: 8px;
	text-align: center;
}
.item_rating{
	color:#aaa;
	font-size: 0.3rem;
	display: block;
	width: 100%;
	text-align: center;
}
.item_rating .rating_stars{
	display: inline-block;
	margin-right: 5px;
}
.item_rating span{
	height: 16px;
	line-height: 16px;
	vertical-align: top;
}
.item_rating .rating-star{
	width: 13px;
	height: 13px;
	float: left;
	background-image: url(../img/gray-start.png);
	background-size: cover;
}
.item_rating .yellow-star{
	background-image: url(../img/star.png);
	background-size: cover;
}